@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(6, 6, 94);
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.App {
  max-width: 600px;
  max-height: 100vh;
  text-align: center;
  margin: 30px auto;
  background-color: rgb(76, 76, 240);
  border-radius: 10px;
}

@import "./movieDetails";
@import "./movieForm";
@import "./movieList";
@import "./navbar";
