body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 1000px;
  max-height: 100vh;
  text-align: center;
  margin: 30px auto;
}
.nav {
  padding: 5rem;
}
.nav li {
  list-style: none;
  display: inline-block;
  padding: 0rem 2rem;
}

.movielist li {
  list-style: none;
  padding: 1rem;
}

@import "./movieDetails";
@import "./movieForm";
@import "./movieList";
@import "./navbar";
